/* Normal desktop :1200px. */
@media (min-width: 1200px) and (max-width: 1500px) {
    .mobile-menu {
        display: none;
    }

}


@media (min-width: 992px) and (max-width: 1200px) {

    .mobile-menu {
        display: none;
    }

}

 
/* Tablet desktop :768px. */
@media (min-width: 768px) and (max-width: 991px) {
/* *******************************************
        	     HEADER CSS
******************************************* */
    .mobile-menu {
        display: block;
    }
    .bg-pill {
        padding: 200px 0;
    }
    .header-menu {
        background: none;
    }
/* *******************************************
        	     SLIDER CSS
******************************************* */
    .owl-carousel .owl-item img {
        height: 50vh;
    }
/* *******************************************
        	     ABOUT CSS
******************************************* */
    .about-right {
        padding-left: 0;
    }
    .about-left p {
        font-size: 18px;
        padding-right: 10px;
    }
    .about-img img {
        width: 100%;
    }
/* *******************************************
        	    DESIGNER CSS
******************************************* */
    .designer-left img {
        width: 300px;
        height: 300px;
    }
    .designer-right {
        padding-left: 10px;
    }
    .designer-right p {
        font-size: 18px;
    }
    .road-top {
        grid-template-columns: repeat(2, 1fr);
    }
    .road-bottom {
        grid-template-columns: repeat(2, 1fr);
        padding: 0;
    }
}

 
/* small mobile :320px. */
@media (max-width: 767px) {
/* *******************************************
        	     HEADER CSS
******************************************* */
    .mobile-menu {
        display: block;
    }
    .bg-pill {
        padding: 100px 0;
    }
    .header-menu {
        background: none;
    }
    .mean-container .mean-nav ul li a {
        font-size: 10px;
    }
    .header-logo a img {
        max-width: 130px;
    }
/* *******************************************
        	     SLIDER CSS
******************************************* */
    .owl-carousel .owl-item img {
        height: 50vh;
    }
    .slider-active .owl-dot {
        height: 15px;
        margin: 0 5px;
        width: 15px;
    }
 /* *******************************************
        	     ABOUT CSS
******************************************* */
    .about-wrapper {
        display: block;
    }
    .about-right {
        display: block;
        padding-left: 0;
    }
 
    .about-img img {
        width: 100%;
    }
    .about-area h1 {
        text-align: center;
        font-size: 40px;
    }
    .about-left p {
        text-align: center;
        padding-right: 0;
        font-size: 18px;
    }
 /* *******************************************
        	    DESIGNER CSS
******************************************* */
.designer-wrapper {
    display: flex;
    flex-direction: column-reverse;
}
    .designer-area h1 {
        text-align: center;
        font-size: 40px;
    }
    .designer-left img {
        width: 100%;
    }
    .designer-right {
        padding-left: 0;
    }
    .designer-right p {
        text-align: center;
        font-size: 18px;
        padding: 0 10px;
    }
 
/* *******************************************
        	 ROAD-MAP CSS
******************************************* */
    .road-map-wrap h1 {
        font-size: 40px;
        text-align: center;
    }
    .road-map-wrap p {
        text-align: center;
    }
    .road-top {
        grid-template-columns: repeat(1, 1fr);
    }
    .road-bottom {
        grid-template-columns: repeat(1, 1fr);
        padding: 0;
    }
/* *******************************************
        	     FOOTER CSS
******************************************* */
    .footer-wrap h2 {
        font-size: 30px;
        margin-bottom: 25px;
    }
    .footer-area {
        padding: 50px 0;
    }
    .footer-ico a {
        font-size: 18px;
    }
    .gmail a {
        font-size: 18px;
    }
}
 
/* Large Mobile :480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) {
.container {width:450px}
 
}
